---
import Layout from "../layouts/Layout.astro";

const { gid } = Astro.params;
const res = await fetch(`http://127.0.0.1:8000/api/games/${gid}`);
const game = await res.json();
---

<Layout title=`Games API | ${game.name}`>
  <main>{game.name}</main>
</Layout>
