---
import { LoginForm } from "../components/LoginForm";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="grid place-content-center size-full">
    <LoginForm client:visible />
  </main>
</Layout>
